.footer {
	margin-top: 20px;

	.footer-top {
		padding: 80px 0;
		.logo {
			img {
				width: 70px;
			}
		}
		.logo-title {
			p {
				font-size: 18px;
				line-height: 32px;
				margin-top: 24px;
				color: $surface;
				letter-spacing: 1px;
				font-family: $font-glorybold;
			}
		}
		span {
			padding-top: 120px;
			color: $surface;
			font-family: $font-light;
			opacity: 0.5;
			display: block;
		}
		.menu-title {
			color: $primary-variant;
			font-family: $font-glorybold;
		}
		a {
			color: $surface;
			display: block;
			margin-top: 20px;
			font-family: $font-light;
			img{
				filter: brightness(0) invert(1);
				width: 20px;
				margin-right: 8px;
				
			}
		}
	}
}