footer.footer {
  //display: none !important;
}

.floating-pics {
  position: absolute;
  width: 450px;
  height: 250px;
  background: linear-gradient(-90deg, #bbb 0px, #e8e8e8 10%, #bbb 20%);
  background-size: 500%;
  transition: opacity 0.5s;
  background-position: 20%;
  animation: bgp 5s linear infinite;

  img {
    object-fit: cover;
  }

  &:hover .opacity-bg {
    opacity: 1;
  }
}

.mouse-outer {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}

.mouse-inner {
  transition: transform 0.4s ease-out;
  width: 2700px;
  height: 1500px;
  background-size: cover;
}

@media (max-width: 992px) {
  .jalousie .j-initial .img {
    width: 80px;
    height: 80px;
    top: 60px;
    left: 2px;
  }
  .mouse-holder {
    display: none;
  }
  .mouse-outer {
    overflow: auto !important;
  }
  .mouse-inner {
    top: -90px;
    left: -94px;
    width: 1611px;
    height: 850px;
    position: relative;
  }
  h2 {
    font-size: 48px !important;
    margin-bottom: 20px !important;
  }
  .show-more {
    bottom: 40px;
    transform: scale(0.8);
  }
  .floating-pics {
    width: 300px;
    height: 200px;
  }

}
